{% extends 'layout.html' %}

{% block content %}
<h1>Agregar Usuario</h1>
<form action="{% url 'agregar_usuario' %}" method="post">
    {% csrf_token %}
    <label for="Barrios_login">Login:</label>
    <input type="text" id="Barrios_login" name="Barrios_login" required>
    <br>
    <label for="Barrios_clave">Clave:</label>
    <input type="text" id="Barrios_clave" name="Barrios_clave" required>
    <br>
    <label for="Barrios_disponible">Disponibilidad:</label>
    <select id="Barrios_disponible" name="Barrios_disponible">
        <option value="A">Activado</option>
        <option value="D">Desactivado</option>
    </select>
    <br>
    <button type="submit">Guardar Usuario</button>
</form>
{% endblock %}


